{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
{% endblock %}
{% block body %}
<section class="section ">
    <form method="post">

    {% if error %}
        <div class="d-flex justify-content-center">
            <div class="container" style="width: 25rem;">
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            </div>
        </div>
    {% endif %}

    {% if app.user %}
        <div class="d-flex justify-content-center">
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        </div>
    {% endif %}
        <div class="d-flex justify-content-center" >
            <div class="container card" style="width: 25rem;">
                <div class="center" >
                    <h1 >Please sign in</h1>
        
                </div>
                <br><br>

                <div class="container" >
                    <div class="form-group">
                        <label for="inputEmail">Email</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control form-control-lg" required autofocus>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword">Password</label>
                        <input type="password" name="password" id="inputPassword" class="form-control form-control-lg" required>
                    </div>
                    <div class="form-group">
                        <input type="hidden" name="_csrf_token"
                         value="{{ csrf_token('authenticate') }}"
                            >
                    </div>

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
                    <div class="form-group">
                        <button class="btn btn-lg btn-primary" type="submit" style="width:100%">
                            Sign in
                        </button>
                    </div>
                    <a href="{{path('app_register')}}">Or Create account</a>
                    <br>
                </div>
            </div>
        </div>
    </form>
    
</section>
{% endblock %}
